body{
    background: black;

}




#canvas{
    width: 1100px;
    height: 550px;
    border: solid 3px gray;
    position: static;
    margin: 0 auto;
    margin-top: 0.8cm;
    background: url(../img/lumber.jpg);
    

}

img{
float: left;
display: inline-block;
width: 40%;
margin: 5%;
margin-top: 2%;
border-radius: 15px;
box-shadow: right;

}

h1{
    font-variant: small-caps;
}

p{
    font-size: 25px;
    font-weight: bolder;
    color: black;

}

article{
    padding-top: 10px;
}

img:hover{
    opacity: 0.5;

  
}

